RewriteEngine On

# WebSocket qua wss:// (SSL)
ProxyPass /node/socket.io wss://localhost:3000/socket.io
ProxyPassReverse /node/socket.io wss://localhost:3000/socket.io

# Proxy toàn bộ route /node/* tới NodeJS
RewriteRule ^node/(.*) https://localhost:3000/$1 [P,L]

# Bỏ qua nếu là file thật
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Phục vụ frontend nếu không match gì
RewriteRule ^ index.html [QSA,L]
