RewriteEngine On
RewriteRule ^(.*)$ http://127.0.0.1:3000/$1 [P,L]
PassengerAppRoot    "/home/mptvweo/node"
PassengerBaseURI    "/node"
PassengerNodejs     "/home/mptvweo/nodevenv/node/20/bin/node"
PassengerAppType    node
PassengerStartupFile server.js