fastapi
uvicorn
boto3
python-multipart
python-dotenv
requests
tensorflow
openai
PyJWT
Pillow
mbbank-lib
playwright
fastapi
uvicorn[standard]
python-dotenv
requests
beautifulsoup4
googlesearch-python
google-generativeai
facebook-sdk
